<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MessageCenter" value="http://127.0.0.1:83/home/ChatMessage" />
    <add key="ChatRoomMemberListCenter" value="http://127.0.0.1:83/home/ChatRoomDetail" />
    <add key="ServerIP" value="127.0.0.1" />
    <add key="ServerPort" value="8123" />
    <add key="ImageBaseDir" value="C:\Users\lvcc\Documents\WeChat Files\" />
    
    <add key="webSiteDomain" value="http://localhost:83/" />
    <add key="OutPutBaseDir" value="D:\01Project\14新奥集团\04测试\Com.Ejsino.ArtificialRobot\WTest\" />
    <add key="MessageMonitorTxtDir" value="D:\jianting\" />
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>